<h1><%= @article.title %></h1>

<div class="meta">
  <span class="category">
    <%= link_to @article.category.name, articles_path(category_id: @article.category.id) %>
  </span>

  <div class="tags">
    <% @article.tags.each do |tag| %>
      <%= link_to "##{tag.name}", articles_path(tag: tag.name), class: "tag" %>
    <% end %>
  </div>
</div>

<div class="content">
  <%= simple_format(@article.content) %>
</div>

<div class="actions">
  <%= link_to '編集', edit_article_path(@article) %>
  <%= link_to '削除', @article, method: :delete,
              confirm: '本当に削除しますか？' %>
  <%= link_to '一覧に戻る', articles_path %>
</div>

<% if @related_articles.any? %>
  <h3>関連記事</h3>
  <% @related_articles.each do |article| %>
    <p><%= link_to article.title, article %></p>
  <% end %>
<% end %>