<!-- Bootstrap 5 Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "BrightTalk", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_post_path, class: "nav-link" do %>
              <i class="fas fa-plus me-1"></i>投稿作成
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to drafts_posts_path, class: "nav-link" do %>
              <i class="fas fa-file-alt me-1"></i>下書き
            <% end %>
          </li>
        <% end %>
      </ul>

      <!-- 検索フォーム -->
      <div class="d-flex me-3">
        <%= form_with url: posts_path, method: :get, local: true, class: "d-flex" do |f| %>
          <%= f.text_field :search,
                           value: params[:search],
                           placeholder: "投稿を検索...",
                           class: "form-control form-control-sm me-2",
                           style: "width: 200px;" %>
          <%= f.submit "検索", class: "btn btn-outline-light btn-sm" %>
        <% end %>
      </div>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <!-- Bootstrap 5 Dropdown Toggle -->
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
               id="navbarDropdown">
              <i class="fas fa-user-circle me-1"></i>
              <%= current_user.name || current_user.email %>
            </a>
            <!-- Bootstrap 5 Dropdown Menu -->
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "アカウント設定", user_account_path, class: "dropdown-item" %></li>
              <li><%= link_to "パスキー認証", webauthn_credentials_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-light ms-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>