<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>

<body class="d-flex flex-column min-vh-100">
<%= render 'shared/navigation' %>

<main class="container-fluid my-4 flex-grow-1">
  <%= render 'shared/flash_messages' if flash.any? %>
  <%= yield %>
</main>

<%= render 'shared/footer' %>
</body>
</html>